*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}   


body{
    background-color: gold;
}





#container{
    width:80%;
    margin: auto;

}

.header{
    background-color: blue;
    text-align: center;
    color: aliceblue;
    
    }

.h1{
    color:darkgoldenrod;}

.footer{
        background-color: darkblue;
        color: white;
        text-align: center;
        padding: 15px;
        font-family: Arial, Helvetica, sans-serif;     
    }

h2{
    color: aliceblue;
}        

h3{color: gold;}        


.couleur_lien{
              
    background-color: blue;
              font-family: Arial, Helvetica, sans-serif;
              padding: 25px;
              height:50%;

            }

.lien{

    color:white;
    
    
}



.container{background-color:gray;
           color: aliceblue; 
           flex-direction: column;         
           
           

}

.box{

    padding-top:40px;
    padding-bottom:40px;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    flex-direction:row;
    background-color:white;

    }

.bloc1{
    margin:15px;
    padding-top: 80px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}





.couleur{

    background-color: blue;
    color: white;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    padding: 25px;

}


img{
    height:auto;
    width:100%;
    vertical-align: top;

}

ul{
    list-style: none;
    
    
}

li{
    padding-bottom: 5px;
}

.espace_titre{

    padding:25px;
    text-align: center;
}

@media only screen  and (max-device-width: 460px) {

    body {
      background-color: blueviolet;
    }
    .box{
        flex-direction: column;
    }

    nav{
        text-align: center;
    }

  }





